.image-flip:hover .backside, .image-flip.hover .backside {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.image-flip:hover .frontside, .image-flip.hover .frontside {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.image-flip {
	margin-bottom: 200px;
	width: 300px;
	height: 250px;
}

.mainflip {
	-webkit-transition: 1s;
	-webkit-transform-style: preserve-3d;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-moz-transform: perspective(1000px);
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transition: 1s;
	transform-style: preserve-3d;
	position: relative;
	margin-left: 300px;
	margin-bottom: 200px;
}

.frontside, .backside {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: 1s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 1s;
	-moz-transform-style: preserve-3d;
	-o-transition: 1s;
	-o-transform-style: preserve-3d;
	-ms-transition: 1s;
	-ms-transform-style: preserve-3d;
	transition: 1s;
	transform-style: preserve-3d;
	position: absolute;
	top: 0;
	left: 0;
	border-style: inset;
}

.frontside {
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	z-index: 2;
	background-image: url("https://media.giphy.com/media/jNCT0DtwX6GFG/giphy.gif");
}

.backside {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
    text-align: center;
    background-image: url("https://media.giphy.com/media/TxVVB6PfWMjE4/giphy.gif");
}

.card, .card-img-top {
	border-radius: 0;
}

.card-title {
	font-family: ‘Lucida Console’, Monaco, monospace;
    text-align: center;
    font-weight:bold;
    color:white;
}

.card-text {
	font-family: ‘Lucida Console’, Monaco, monospace;
    text-align: center;
    font-weight:lighter;
    color: #ccffff;
}

#card {
	margin-bottom: 20px;
}